// 部分样式来源于其他开源UI库
@import '@vavt/markdown-theme/css/all.css';
@import '~/styles/vars.less';
@import '~~/MdCatalog/index.less';

// 覆盖样式
.md-editor-preview img {
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
  border-radius: 12px;
  border: 1px solid #165DFF;
}

.md-editor-catalog-active > span {
  color: #165DFF;
}

.md-editor-catalog-indicator {
  background-color: #165DFF;
}

.md-editor-catalog-link span:hover {
  color: #165DFF;
}

.md-editor-preview blockquote {
  color: var(--md-theme-quote-color);
  border-left: 5px solid #165DFF;
  background-color: #165DFF11;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-catalog-link {
  padding: 5px 0 5px 12px;
}

.md-editor-preview .md-editor-code .md-editor-code-head {
  z-index: unset;
}

.md-editor-preview h1::before {
  content: 'H1';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
}

.md-editor-preview h2::before {
  content: 'H2';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
  background: linear-gradient(180deg, transparent 55%, 
      color-mix(in srgb, oklch(76% .177 163.223) 18%, transparent) 55%, 
      color-mix(in srgb, oklch(76% .177 163.223) 35%, transparent) 65%, 
      color-mix(in srgb, oklch(76% .177 163.223) 25%, transparent) 90%, transparent 97%);
}

.md-editor-preview h3::before {
  content: 'H3';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
}

.md-editor-preview h4::before {
  content: 'H4';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
}

.md-editor-preview h5::before {
  content: 'H5';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
}

.md-editor-preview h6::before {
  content: 'H6';
  margin-right: 6px;
  color: #165DFF;
  font-weight: bold;
  font-size: 12px;
}

.md-editor-preview a {
  color: #165DFF;
  text-underline-offset: 4px;
  padding: 0 3px;
  text-decoration: underline;
}

.md-editor-preview a:hover {
  color: #0E42D2;
  text-underline-offset: 4px;
}

.md-editor-preview code {
  color: #165DFF;
  background-color: #165DFF11;
  border-radius: 4px;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-preview ul {
  list-style: disc;
}

.md-editor-katex-block {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-preview .md-editor-mermaid {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-preview .md-editor-echarts {
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-preview .md-editor-code input:checked+label {
  border: 1px solid #165DFF;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #165DFF;
  color: white;
}


.md-editor-preview .md-editor-code {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.md-editor-preview .md-editor-admonition {
  border-radius: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
}

.basic-style() {
  color: var(--md-color);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI Variable', 'Segoe UI', system-ui,
    ui-sans-serif, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.@{prefix} {
  .css-vars(false);
  .basic-style();

  width: 100%;
  height: 500px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--md-border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--md-bk-color);

  .@{prefix}-fullscreen {
    position: fixed !important;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: auto !important;
    height: auto !important;
    z-index: 10000;
  }

  svg&-icon {
    width: 16px;
    height: 16px;
    padding-block: 4px;
    padding-inline: 4px;
    fill: none;
    overflow: hidden;
    display: block;
    box-sizing: content-box;
  }

  // 特殊处理这三个图标大小
  .lucide-list-icon,
  .lucide-list-ordered-icon,
  .lucide-list-todo-icon {
    width: 18px;
    height: 18px;
    padding-block: 3px;
    padding-inline: 3px;
  }

  &-preview {
    font-size: 16px;
    word-break: break-all;
    // 需要设置为bfc，父级才能正确获取到滚动高度
    display: flow-root;
    padding-block: 10px;
    padding-inline: 20px;
  }
}

.@{prefix}-modal-container {
  .css-vars(false);
  .basic-style();

  .lucide-xicon {
    width: 20px;
    height: 20px;
    padding-block: 2px;
    padding-inline: 2px;
  }
}

.@{prefix}-previewOnly {
  border: none;
  height: auto;
  overflow: visible;

  .@{prefix}-content {
    height: 100%;
  }

  .@{prefix}-preview {
    padding-block: 0;
    padding-inline: 0;
  }

  .@{prefix}-preview-wrapper {
    overflow: visible;
  }
}

.@{prefix}-dark,
.@{prefix}-modal-container[data-theme='dark'] {
  .css-vars(true);
}

// 图片预览优先级高于编辑器，低于编辑器弹窗
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 100001;
}
